.thumbnail
  %a{href: "http://mateinone.heroku.com", target: '_blank'}
    %img{alt: "Chess Mate in One", src: "/img/apps/app_chess.png"}
  .caption
    %h5
      Chess Mate in One
    %p
      Chess Mate in One is a collection of Chess puzzles where the objective is to Checkmate in one move
    %p
      %a.btn.btn-primary{href: "http://mateinone.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4ff0b422d184620001000009", target: '_blank'}
        API