.thumbnail
  %a{href: "http://datavizard.heroku.com", target: '_blank'}
    %img{alt: "DataVizard", src: "/img/apps/app_datavizard.png"}
  .caption
    %h5
      DataVizard
    %p
      DataVizard is a tool to visualize JSON data using D3.js
    %p
      %a.btn.btn-primary{href: "http://datavizard.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4feb6e3b20612e0001000004", target: '_blank'}
        API