.thumbnail
  %a{href: "http://datamapper.heroku.com", target: '_blank'}
    %img{alt: "DataMapper", src: "/img/apps/app_datamapper.png"}
  .caption
    %h5
      DataMapper
    %p
      DataMapper is used to visualize any data with location info on Google Maps
    %p
      %a.btn.btn-primary{href: "http://datamapper.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4feb50401c4d4f000100001f", target: '_blank'}
        API
      %a.btn{href: "https://github.com/apifyapps/data_mapper", target: '_blank'}
        Github