.thumbnail
  %a{href: "http://imdbtracker.heroku.com", target: '_blank'}
    %img{alt: "IMDB Movie Tracker", src: "/img/apps/app_imdb.png"}
  .caption
    %h5
      IMDB Movie Tracker
    %p
      IMDB Movie Tracker is a personal offline tracker for IMDB Top 250 movies
    %p
      %a.btn.btn-primary{href: "http://imdbtracker.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4fc2a1ecae684d0001000006", target: '_blank'}
        API
      %a.btn{href: "https://github.com/apifyapps/imdb_tracker", target: '_blank'}
        Github