.thumbnail.thumbnail-small
  %a{href: "http://fb.me/1WtsYcVnM", target: '_blank'}
    %img{alt: "LiveWallpaper Olympics Theme", src: "/img/apps/app_livewallpaper.jpg"}
  .caption
    %h5
      Livewallpaper Olympics Theme
    %p
      LiveWallpaper: #2 App in Mac App store
    %p
      %a.btn.btn-primary{href: "http://fb.me/1WtsYcVnM", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/5014626da8cdbb0002000006", target: '_blank'}
        API