.thumbnail.thumbnail-small
  %a{href: "http://medalsbymillion.com/", target: '_blank'}
    %img{alt: "Medals By Million", src: "/img/apps/app_medalsbymillion.png"}
  .caption
    %h5
      Medals By Million
    %p
      League table of medals for every million people
    %p
      %a.btn.btn-primary{href: "http://medalsbymillion.com/", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/5014626da8cdbb0002000006", target: '_blank'}
        API