.thumbnail.thumbnail-medium
  %a{href: "http://london2012.opendata.lt", target: '_blank'}
    %img{alt: "3D Medals Visualization", src: "/img/apps/app_olympics3d.png", width: 260, height: 180}
  .caption
    %h5
      3D Visualization of Olympic Medals
    %p.description
      3D Visualization of Olympic Medals by country by count, capita and number of sunny days
    %p
      %a.btn.btn-primary{href: "http://london2012.opendata.lt", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/5014626da8cdbb0002000006", target: '_blank'}
        API