.thumbnail.thumbnail-medium
  %a{href: "http://polyglotprogrammer.heroku.com", target: '_blank'}
    %img{alt: "Polyglot Programmer", src: "/img/apps/app_polyglot.png"}
  .caption
    %h5
      Hyperpolyglot
    %p
      Polyglot programmer's search engine using Hyperpolyglot and APIfy
    %p
      %a.btn.btn-primary{href: "http://polyglotprogrammer.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4ffc4e5075d798000100001d", target: '_blank'}
        API
      %a.btn{href: "https://github.com/apifyapps/polyglot_search", target: '_blank'}
        Github