.thumbnail
  %a{href: "http://randomsub.heroku.com", target: '_blank'}
    %img{alt: "Sudo Make Me a Sub", src: "/img/apps/app_randomsub.png", width: 260, height: 180}
  .caption
    %h5
      sudo make me a sub
    %p.description
      Sudo Make Me a Sub is a Subway Sub generator with random bread, cheese, veggies and sauce
    %p
      %a.btn.btn-primary{href: "http://randomsub.heroku.com", target: '_blank'}
        App
      .btn-group
        %a.btn{href: "#"}
          APIs
        %a.btn.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
          %span.caret
        %ul.dropdown-menu
          %li
            %a{href: "http://apify.heroku.com/resources/4fd8c562da2dcf0001000047", target: '_blank'}
              Subs API
          %li
            %a{href: "http://apify.heroku.com/resources/4fd8c6bcda2dcf000100004b", target: '_blank'}
              Subway Breads API
          %li
            %a{href: "http://apify.heroku.com/resources/4fd8c9e0da2dcf0001000053", target: '_blank'}
              Subway Cheese API
          %li
            %a{href: "http://apify.heroku.com/resources/4fd8c89fda2dcf0001000051", target: '_blank'}
              Subway Veggies API
          %li
            %a{href: "http://apify.heroku.com/resources/4fd8cad0da2dcf0001000055", target: '_blank'}
              Subway Sauces API
