.thumbnail.thumbnail-medium
  %a{href: "http://randomsub.heroku.com", target: '_blank'}
    %img{alt: "Sudo Make Me a Sub", src: "/img/apps/app_randomsub.png", width: 260, height: 180}
  .caption
    %h5
      Random Sub
    %p.description
      Subway Sandwich generator with random bread, cheese, veggies and sauce
    %p
      %a.openqrcode{href: "http://randomsub.heroku.com"}
        %img{alt: "qrcode", src: "/img/qrcode-icon.jpg", class: 'qrcode'}
      %a.btn.btn-primary{href: "http://randomsub.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4fd8c562da2dcf0001000047", target: '_blank'}
        API
      %a.btn{href: "https://github.com/apifyapps/sudomakemeasub", target: '_blank'}
        Github