.thumbnail.thumbnail-medium
  %a{href: "http://rpslsgame.heroku.com", target: '_blank'}
    %img{alt: "Rock Paper Scissors Lizard Spock", src: "/img/apps/app_rpsls.png", width: 260, height: 200}
  .caption
    %h5
      Rock Paper Scissors Lizard Spock
    %p
      Rock Paper Scissors Lizard Spock is a twist to the classic game made popular by Sheldon in Big Bang Theory 
    %p
      %a.btn.btn-primary{href: "http://rpslsgame.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4fe15c0343ba68000100000b", target: '_blank'}
        API
      %a.btn{href: "https://github.com/apifyapps/rock_paper_scissors_lizard_spock", target: '_blank'}
        Github