.thumbnail.thumbnail-medium
  %a{href: "http://rubik.heroku.com", target: '_blank'}
    %img{alt: "Rubik's Patterns", src: "/img/apps/app_rubik.png"}
  .caption
    %h5
      Rubik's Patterns
    %p
      Rubik's Patterns is a collection of Pretty Patterns in Rubik's Cube using HTML5 Rubik
    %p
      %a.btn.btn-primary{href: "http://rubik.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4fef6dbdf021ab000100000b", target: '_blank'}
        API
      %a.btn{href: "https://github.com/apifyapps/rubiks_patterns", target: '_blank'}
        Github