.thumbnail
  %a{href: "http://thirukural.heroku.com", target: '_blank'}
    %img{alt: "Thirukural", src: "/img/apps/app_thirukural.png"}
  .caption
    %h5
      Thirukural
    %p
      Random Thirukural from the famous tamil literary work by Thiruvalluvar
    %p
      %a.btn.btn-primary{href: "http://thirukural.heroku.com", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/4fda2ede485abc0001000034", target: '_blank'}
        API
      %a.btn{href: "https://github.com/apifyapps/thirukural", target: '_blank'}
        Github