.thumbnail
  %img{alt: "Thirukural", src: "/img/apps/app_thirukural.png"}
  .caption
    %h5
      Thirukural
    %p
      Random
      %a{href: "http://en.wikipedia.org/wiki/Tirukku%E1%B9%9Ba%E1%B8%B7", target: "_blank"}
        Thirukural
      from the famous tamil literary work by Thiruvalluvar
    %p
      %a.btn.btn-primary{href: "http://thirukural.heroku.com", target: '_blank'}
        App
      %a.btn.hidden{href: "https://github.com/sathish316/randomkural", target: '_blank'}
        Github
      %a.btn{href: "http://apify.heroku.com/resources/4fda2ede485abc0001000034", target: '_blank'}
        API