.thumbnail
  %a{href: "http://publictransit.heroku.com", target: '_blank'}
    %img{alt: "Transit", src: "/img/apps/app_transit.png", width: 240, height: 210}
  .caption
    %h5
      Transit
    %p
      Pubic transit bus/train routes app built using Wikipedia, APIfy and Javascript 
    %p
      %a.btn.btn-primary{href: "http://publictransit.heroku.com", target: '_blank'}
        App
      %a.btn.hidden{href: "https://github.com/sathish316/publictransit", target: '_blank'}
        Github
      %a.btn{href: "http://apify.heroku.com/resources/4fe8cd0659adf60001000028", target: '_blank'}
        API