.thumbnail.thumbnail-small
  %a{href: "http://studio2012.html.withassociates.com/", target: '_blank'}
    %img{alt: "WithAssociates Olympics Table", src: "/img/apps/withassociates_olympics.png"}
  .caption
    %h5
      Olympics Medals
    %p
      Olympics medals by Design studio WithAssociates
    %p
      %a.btn.btn-primary{href: "http://studio2012.html.withassociates.com/", target: '_blank'}
        App
      %a.btn{href: "http://apify.heroku.com/resources/5014626da8cdbb0002000006", target: '_blank'}
        API