.help-sidebar.help-intro
  %h3
    What is APIfy?
  .help-content
    %p
      APIfy converts data in existing html sites and wikipedia pages to JSON APIs.
    %p
      APIs can be consumed from Ruby, PHP, iPhone, Android apps. 
    %p
      If you don't have a backend, APIs can be consumed using JSONP from Javascript and Phonegap apps.
    %p
      To use existing APIs, select one from the list or click 
      %a.btn.btn-mini.btn-info{href: "#"}
        %i.icon-ok
        Test
    %p
      To start creating your own APIs, click 
      %a{href: '/resources/new'}
        Create API 
      or check out the
      %a{href: '/tutorial/create'}
        tutorial.
.help-sidebar.help-create
  %h3
    How to create an API?
.help-sidebar.help-modify
  %h3
    Modify API
.help-sidebar.help-use
  %h3
    How to use an API?
.help-sidebar.help-test
  %h3
    How to test an API?