.content-selectors.span8{style: "display: none;"}
  .row
    .span8
      .span1
        CSS
      .span3
        %input.input-xlarge.firefly-css-selector{type: "text", placeholder: "CSS selector"}
      .span2
        Found
        %span.firefly-css-count
          0
        elements
      .span1
        %a.btn.add-css-selector{href: '#'}
          Add
  .row
    .span8
      .span1
        XPath
      .span3
        %input.input-xlarge.firefly-xpath-selector{type: "text", placeholder: "XPATH selector"}
      .span2
        Found
        %span.firefly-xpath-count
          0
        elements
      .span1
        %a.btn.add-xpath-selector{href: '#'}
          Add