%script{type: 'text/javascript'}
  mixpanel.track("ListAPIs");
= partial '_tweet', template_engine: :erb
.row
  .apify_overview
    %img{src: '/img/apify.png'}
.span6
  %h2
    Apify APIs
    .home-buttons.right
      %a.home-create-button{href: '/resources/new'}
        %span
          Create JSON API
    .clear
%input#help{type: :hidden, value: '.help-intro,.help-getting-started'}
.clear
= partial :"resources/_pagination", locals: {catalog: @catalog}
.content.span6
  = partial :"resources/_listing", locals: {resources: @resources}
  = paginate @resources