%h2 API Not Found

.content
  %p
    The API you're looking for does not exist

  %p
    To create your own APIs, Go to 
    %a{href: '/resources/new'}
      Create API

  %p
    To browse existing APIs, Go to
    %a{href: '/resources'}
      APIs