<!DOCTYPE HTML>
%html
  %head
    %title= 'APIfy'
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/bootstrap-responsive.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: '/stylesheets/styles.css'}
  %body
    .container-fluid
      .span8.offset2
        .navbar
          .navbar-inner
            .container
              %a.brand{href: '/resources'}
                APIfy
              .nav-collapse
                %ul.nav
                  %li{class: ('active' if @current_page == 'resources')}
                    %a{href: '/resources'}
                      APIs
                  %li{class: ('active' if (@current_page == 'create_resource'))}
                    %a{href: '/resources/new'}
                      Create API
                  %li.dropdown{class: ('active' if @current_page == 'tutorial')}
                    %a.dropdown-toggle{'data-toggle' => 'dropdown'}
                      Tutorials
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: '/tutorial/create'} Create API
                      %li
                        %a{href: '/tutorial/use'} Use API
                      %li
                        %a{href: '/tutorial/examples'} Examples
                  %li{class: ('active' if @current_page == 'about')}
                    %a{href: '/about'}
                      About
                  %li.hidden{class: ('active' if @current_page == 'suggestions')}
                    %a{href: '/suggestions'}
                      Suggest API
        = yield
        %script{type: 'text/javascript', src: '/javascripts/jquery.min.js'}
    %script{type: 'text/javascript', src: '/javascripts/bootstrap.min.js'}
    %script{type: 'text/javascript', src: '/application.js'}
    %script{type: 'text/javascript', src: '/javascripts/app.js'}
    = partial '_tweet_script', template_engine: :erb