%html
  %head
    %title= 'Scrapbook'
    %script{type: 'text/javascript', src: 'application.js'}
    %script{type: 'text/javascript', src: 'javascripts/bootstrap.min.js'}
    %link{rel: 'stylesheet', type: "text/css", href: 'stylesheets/styles.css'}
    %link{rel: 'stylesheet', type: "text/css", href: 'stylesheets/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: "text/css", href: 'stylesheets/bootstrap-responsive.min.css'}
  %body
    .container-fluid
      .span2
        Sidebar
      .span8
        = yield