.content{
  margin-top: 20px;
}
.clear {
  clear: both;
}
.section {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.api_url {
  margin-bottom: 10px;
}
#index_json_output {
  min-height: 100px;
}
#show_json_output {
  min-height: 50px;
}
.resource_actions {
  float: right;
}
.attributes_label {
  valign: center;
}
.actions {
  float: right;
}
.right{
  float: right;
}
.twitter-share-button{
  float: right;
}
.hidden {
  display: none;
}
.help-sidebar {
  background-color: #E0F0FF;
  padding: 10px;
  margin: 10px;
  display: none;
}