.content{
  margin-top: 20px;
}
.clear {
  clear: both;
}
.section {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.api_url {
  margin-bottom: 10px;
}
#index_json_output {
  min-height: 100px;
}
#show_json_output {
  min-height: 50px;
}
.resource_actions {
  float: right;
}
.attributes_label {
  valign: center;
}
.actions {
  float: right;
}
.right{
  float: right;
}
.twitter-share-button{
  float: right;
}
.hidden {
  display: none;
}
.help-sidebar {
  background-color: #E0F0FF;
  padding: 10px;
  margin: 10px;
  display: none;
}
.help-sidebar{
  word-wrap: break-word;
}
.help-content{
  word-wrap: break-word;
}
#css-modal {
  display: none;
}
#xpath-modal {
  display: none;
}
.apify_overview {
  margin: 10px;
  padding: 10px;
}
.apify_overview img{
  padding-left: 40px;
}
a.home-create-button {
  display: -moz-inline-stack;
  display: inline-block;
  width: 173px;
  height: 38px;
  background: url("http://dabuttonfactory.com/b.png?t=Create%20JSON%20API&f=Calibri&ts=20&tc=ffffff00&tshs=1&tshc=22222200&it=png&c=9&bgt=gradient&bgc=47c&ebgc=238&shs=1&shc=222&sho=nw&hp=20&vp=12") no-repeat;
  line-height: 38px;
  vertical-align: text-middle;
  text-align: center;
  color: #ffffff;
  font-family: Calibri;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-shadow: #222222 1px 1px 0;
  text-decoration: none;
}
a.home-create-button > span {
  display: -moz-inline-block;
}