.help-sidebar.help-intro
  %h3
    What is APIfy?
  %br
  .help-content
    %p
      APIfy converts data in existing HTML sites and wikipedia pages to JSON APIs.
    %br
    %p
      APIs can be consumed from
      %a{href: '/tutorial/use#ruby'}
        Ruby
      Python, PHP, Node.js, iPhone, Android apps. 
    %p
      %a{href: '/tutorial/use#javascript'}
        Javascript
      and Phonegap apps can use
      %a{href: '/tutorial/use#javascript'}
        JSONP
      to consume API without a backend.
    %p
      APIfy is built using
      %a{href: 'https://github.com/sathish316/scrapify#usage'}
        ScrApify gem.
      Use it to create your own APIs
.help-sidebar.help-getting-started
  %h3
    Getting started
  %br
  .help-content
    %p
      Right click and copy json url to
      %a{href: '/tutorial/use'}
        use API
      %br
      %em
        %a{href: "http://apify.heroku.com/api/_imdb_top250_movies.json"}
          \/api/_imdb_top250_movies.json
    %br
    %p
      Click
      %a.btn.btn-mini.btn-info{href: "#"}
        %i.icon-ok
        Test
      to view json output
    %br
    %a.btn.btn{href: "/tutorial/create"}
      %i.icon-book
      View Tutorial
    to Create API
