.help-sidebar.help-intro
  %h3
    What is APIfy?
  %br
  .help-content
    %p
      APIfy converts data in existing html sites and wikipedia pages to JSON APIs.
    %p
      APIs can be consumed from
      %a{href: '/tutorial/use#ruby'}
        Ruby
      , PHP, iPhone, Android apps. 
    %p
      If you don't have a backend, APIs can be consumed directly from
      from
      %a{href: '/tutorial/use#javascript'}
        Javascript
      and Phonegap apps using
      %a{href: '/tutorial/use#javascript'}
        JSONP
    %h3
      Getting started
    %br
    %p
      Copy json url to use existing API 
      %br
      %em
        %a{href: "http://apify.heroku.com/api/_imdb_top250_movies.json"}
          http://apify.heroku.com/api/_imdb_top250_movies.json
    %p
      Click
      %a.btn.btn-mini.btn-info{href: "#"}
        %i.icon-ok
        Test
      to view json output
    %p
      To create your own APIs, go to 
      %a{href: '/resources/new'}
        Create API 
      or check out the
      %a{href: '/tutorial/create'}
        tutorial.