.help-sidebar.help-intro
  %h3
    What is APIfy?
  %br
  .help-content
    %p
      APIfy converts data in existing HTML sites and wikipedia pages to JSON APIs.
    %br
    %p
      APIs can be consumed from
      %a{href: '/tutorial/use#ruby'}
        Ruby
      ,
      %a{href: '/tutorial/use#python'}
        Python
      , PHP, Node.js, iPhone, Android apps. 
    %p
      %a{href: '/tutorial/use#javascript'}
        Javascript
      and Phonegap apps can use
      %a{href: '/tutorial/use#javascript'}
        JSONP
      to consume API without a backend.
    %p
      APIfy is built using
      %a{href: 'https://github.com/sathish316/scrapify#usage'}
        ScrApify gem.
.help-sidebar.help-getting-started
  %h3
    Getting started
  %br
  .help-content
    %p
      Click
      %a.btn.btn-mini{href: "#"}
        %i.icon-edit
        Edit
      or
      %a.btn.btn-mini.btn-info{href: "#"}
        %i.icon-ok
        Test
      to view existing APIs
    %br
    %a.btn.btn{href: "/tutorial/create"}
      %i.icon-book
      View Tutorial
    to
    %a{href: "/resources/new"}
      Create API
    %br
    %br
    %a.btn.btn{href: "/tutorial/use"}
      %i.icon-book
      View Examples
    to Use APIs
